---
import Layout from "../layouts/Layout.astro";

interface Kurs {
    id: number;
    naziv: string;
    opis: string;
    cena:number;
    trajanje:number;
    slikaUrl:string;
}

const data:Response =await  fetch("http://localhost:8080/api/kursevi")
const kursevi:Kurs[] = await data.json();
---

<Layout title="Kurs">
    <main>
        <h1 class="hidden">Kurs</h1>
        <ul>
            {kursevi.map((kurs:Kurs,index:number) => (
                 <Fragment key={index}>
                <li >
                    <h2>{kurs.naziv}</h2>
                    <p>{kurs.opis}</p>
                    <p>Cena: {kurs.cena} RSD</p>
                    <p>Trajanje: {kurs.trajanje} Äasova</p>
                </li>
                </Fragment>
            ))}
        </ul>
    </main>
</Layout>
