---
type Kurs = {
  id: number;
  naziv: string;
  opis: string;
  slikaUrl: string;
};

const res = await fetch("http://localhost:8080/api/kursevi");
const kursevi: Kurs[] = await res.json();
const kursevi_1 = kursevi.slice(0, 4);
const kursevi_2 = kursevi.slice(4, 6);
---

<section id="kursevi" class="bg-black py-28 px-6 sm:px-10 md:px-16">

  <h2 class="text-3xl sm:text-4xl md:text-5xl text-center mb-16 text-white font-semibold tracking-wide">
    NAŠI KURSEVI
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 max-w-7xl mx-auto">

    {kursevi_1.map((kurs) => (
      <div class="relative h-[420px] sm:h-[450px] md:h-[500px] overflow-hidden shadow-xl group">

        <!-- Image -->
        <div
          class="absolute inset-0 bg-cover bg-center transform group-hover:scale-110 transition duration-500"
          style={`background-image: url('http://localhost:8080/api/media?remoteFilePath=${kurs.slikaUrl}');`}
        ></div>

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/70 group-hover:bg-black/60 transition duration-500"></div>

        <!-- Content -->
        <div class="relative z-10 h-full flex flex-col justify-between p-6 text-white">

          <!-- Top -->
          <div>
            <h3 class="text-lg sm:text-xl md:text-2xl font-bold mb-4">
              {kurs.naziv}
            </h3>

            <p class="text-xs sm:text-sm md:text-base opacity-90 leading-relaxed">
              {kurs.opis}
            </p>
          </div>

          <!-- Button -->
          <div class="flex justify-end">
            <a
              href={`/kurs/${kurs.id}`}
              class="bg-red-900 hover:bg-red-800 transition-all duration-300 px-5 py-2 sm:px-6 sm:py-3 text-sm font-semibold"
            >
              Detaljnije
            </a>
          </div>

        </div>

      </div>
    ))}

  </div>


   <div class="flex justify-center items-center mt-3 gap-8 max-w-7xl mx-auto">

    {kursevi_2.map((kurs) => (
      <div class="relative max-w-[300px] h-[420px] sm:h-[450px] md:h-[500px] overflow-hidden shadow-xl group">

        <!-- Image -->
        <div
          class="absolute inset-0 bg-cover bg-center transform group-hover:scale-110 transition duration-500"
          style={`background-image: url('http://localhost:8080/api/media?remoteFilePath=${kurs.slikaUrl}');`}
        ></div>

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/70 group-hover:bg-black/60 transition duration-500"></div>

        <!-- Content -->
        <div class="relative z-10 h-full flex flex-col justify-between p-6 text-white">

          <!-- Top -->
          <div>
            <h3 class="text-lg sm:text-xl md:text-2xl font-bold mb-4">
              {kurs.naziv}
            </h3>

            <p class="text-xs sm:text-sm md:text-base opacity-90 leading-relaxed">
              {kurs.opis}
            </p>
          </div>

          <!-- Button -->
          <div class="flex justify-end">
            <a
              href={`/kurs/${kurs.id}`}
              class="bg-red-900 hover:bg-red-800 transition-all duration-300 px-5 py-2 sm:px-6 sm:py-3 text-sm font-semibold"
            >
              Detaljnije
            </a>
          </div>

        </div>

      </div>
    ))}

  </div>
</section>